In [1]:
import pandas as pd
df = pd.read_excel('../elice_library.xlsx', header=0)

In [2]:
df.head(3)

,book_name,publisher,author,publication_date,pages,isbn,description,link,book_img
0,주니어를 위한 최선의 코딩 학습 똑똑한 파이썬,코딩스쿨(인포앤북),황재호/황예린,2019-07-01,240,9791196440916,"주니어의 코딩 학습을 위한 최상의 파이썬 학습서\n초등학교에서 스크래치, 엔트리 등...",http://codingschool.info/book/index.php?book=s...,./static/images/1.png
1,Do it! C언어 입문,이지스퍼블리싱,김성엽,2017-01-10,576,9791187370703,‘왜’ 쓰는지 모르면 의미 없다! 두 번 삽질하지 않게 도와주는 입문서!\n\n실무...,http://www.easyspub.co.kr/20_Menu/BookView/122...,./static/images/2.png
2,Do it! 쉽게 배우는 R 데이터 분석,이지스퍼블리싱,김영우,2017-07-20,376,9791187370949,"통계, 프로그래밍을 1도 몰라도 데이터를 혼자서 다룰 수 있다!\n\n데이터 분석 ...",http://www.easyspub.co.kr/20_Menu/BookView/138...,./static/images/3.png

In [3]:
import pymysql
connection = pymysql.connect(host='localhost', user='root', password='root', db='elice_library')

In [4]:
cursor = connection.cursor()

In [5]:
sql = "insert into `Book_list` (`book_name`, `publisher`, `author`, `publication_date`, `pages`, `isbn`, `description`, `link`, `book_img`) values (%s, %s, %s, %s, %s, %s, %s, %s, %s)"

In [6]:
for i in range(len(df)):
  cursor.execute(sql, tuple(df.values[i]))
connection.commit()
connection.close()